@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Inter', sans-serif; 
} 
.mainPage{
  background-image:linear-gradient(180deg,rgb(255, 255, 255) 15%, rgba(68, 67, 67, 0.041) 30%);
}

.hearder-guia{
  background-image: linear-gradient(180deg,rgba(15, 15, 15, 0.7) 10%,transparent);
}
.header-genres { 
  display: flex;
  justify-content: space-between;
  margin: 20px 100px 20px 100px;
  align-items: center;   
  
}
.sectionCards {
  position: absolute;
  margin-bottom: 120px; 
}

@media screen and (min-width: 320px) and (max-width: 480px){
  .header-genres{
    flex-direction: column;
  }
  .sectionCards{
    // margin-top: ;
  }
}

.header-title { 
  padding-left: 10px;  
  text-transform: uppercase;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 2px;   
}  
.imgBackground{  
  width: 100%;
  height: 20%; 
}

 