.hearder-guia {
    background-image: #000000ad;
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #000000ad !important;
}

.header-title {
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 2px;
}