body {
    background-color: #ddd6d6;
}

.formSection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width:500px;
}

.formLoginPass {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    padding: 50px;
    gap: 10px;
    border-radius: 5px; 
    background-color: rgba(255, 255, 255, 0.205);
}

.formContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputEmail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 70px;
}

.inputEmail p{ 
    text-align: center;
    width: 300px;
    color: #df5252;
    font-size: 17px;
}

.icon {
    width: 130px;
    height: 130px;
}

.inform {
    color: #d6d1d1dc;
    max-width: 300px;
    text-align: center;
}

.titlePass {
    top: 40px;
    font-size: 40px;
    color: #ffffffec;
    letter-spacing: 2px;

}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.btnPassword {
    background-color: #366999;
    color: #fdfafa;
    font-size: 17px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 110px;
    height: 43px;
    border: solid 0.1px #31303052;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
    letter-spacing: 1px;
}

.btnPassword:active {
    box-shadow: none;
    background-color: #366999d7;
}