@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Inter', sans-serif;
}
.currentCategory{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.header-movies {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px 20px 100px;
  align-items: center;
}
.hearder-index-movie{
  background-image: linear-gradient(180deg,rgba(15, 15, 15, 0.7) 10%,transparent);
}
.header-title-movie {
  padding-left: 10px;  
  text-transform: uppercase;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 2px;  
}

.movieList {
  width: 100px;
  height: 150px;
  transition: linear 0.2s;
}

.movieList:hover {
  width: 110px;
  height: 160px;
  transition: linear 0.2s;
}

.movieTitleRecommendation {
  font-size: smaller;
}

.card-movies {
  gap: 8px;
  width: 100px;
  height: 150px;
  margin-top: 30px;
  cursor: pointer;
}

.cardMovie-movies {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

input :focus,
select :focus {
  outline: 0;
}