.mainMovie {
  background-color: #141414;
}

.currentCategory {
  display: flex;
  justify-content: center;
  color: #ffffff;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 400%;
  text-transform: uppercase;
}

.divCategory {
  padding: 0px;
}


.header-title-movie {
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 2px;
}

input :focus,
select :focus {
  outline: 0;
}