.movieList {
    width: 100px;
    height: 150px;
    transition: linear 0.2s;
}

.movieList:hover {
    width: 110px;
    height: 160px;
    transition: linear 0.2s;
}

.movieTitleRecommendation {
    font-size: smaller;
}

.card {
    // display: flex;
    // flex-direction: row;
    // overflow-x: scroll;
    gap: 8px;
    width: 100px;
    height: 150px;
    margin-top: 30px;
    cursor: pointer;
}

.cardMovie {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}