.movieList {
  width: 100px;
  height: 150px;
  transition: linear 0.2s;
}

.movieList:hover {
  width: 110px;
  height: 160px;
  transition: linear 0.2s;
}

.movieTitleRecommendation {
  font-size: smaller;
}

input :focus,
select :focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.card-movies {
  gap: 8px;
  width: 100px;
  height: 150px;
  margin-top: 30px;
  cursor: pointer;
}

.cardMovie-movies {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
input :focus,
select :focus { 
    outline: 0;
}