@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.search-icon {
    right: 70px;
    width: 20px;
    height: 20px;
    transition: 0.4s linear;
}

.search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.search-input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: solid 0.1px #868383;
    padding-left: 15px;
    color: #ffffff;
    font-weight: bold;
}



@media screen and (min-width: 320px) and (max-width: 480px) {
    .search-input {
        width: 200px;
        height: 30px;
    }

    .search-container {
        padding: 25px;
    }

    .header {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .search-input {
        width: 230px;
        height: 33px;
        right: 20px;
    }

    .search-icon {
        right: 30px;
    }

    .search-container {
        padding: 25px;

    }

    .header {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .search-input {
        width: 260px;
        height: 35px;
        right: 40px;
    }

    .search-icon {
        right: 50px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .search-input {
        width: 240px;
        height: 35px;
        right: 60px;
    }

    .search-icon {
        right: 70px;
    }
}

input,
select {
    outline: 0;
}