
.search-input {
    right: 60px;
    position: absolute;
    transition: 0.4s;
    width: 260px;
    height: 35px;
    border: solid 1px #cccbcbb7;
    box-shadow: 5px 5px 8px #12245786;
    border-radius: 10px;
    box-sizing: content-box;
    padding-left: 20px;
}

.search-input:focus {
    border: solid 1px #969090b7;
    box-shadow: 2px 2px 4px #12245786;
}

.search-icon {
    position: absolute;
    right: 70px;
    width: 20px;
    height: 20px;
}

.search-btn {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    flex-wrap: wrap;
} 

@media screen and (min-width: 320px) and (max-width: 480px){
    .search-input{
      width: 200px;
      height: 30px; 
    }
    .search-container{
        padding: 25px; 

    }
  }

input,
select{ 
    outline: 0;
}
