html,
body {
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/login/login-the-crown_2-1500x1000.jpg) ;
    background-repeat:  no-repeat;   
    background-attachment: fixed; 
    background-size: cover;  
    min-width: 400px;
    min-height: 600px;
} 

.loginForm{ 
    display: flex; 
    align-items: center;
    flex-direction: column;
}
.screen{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 180px; 
    padding: 50px; 
    gap: 10px;
    border-radius: 5px; 
    background-color: rgba(255, 255, 255, 0.205);
}
.login { 
    display: flex; 
    justify-content: center;
    align-items: center;
} 
.forgotPassword {
    font-size: 15px;
}

.forgotPassword a {
    color: #d6d1d1be;
    text-decoration-color: none;
    text-decoration: none;
}
.forgotPassword:hover{
    text-decoration:underline;
    color: #c5b8b8be;
}

.titleL{ 
    font-size: 50px;
    color: #f0eeee;
    letter-spacing: 2px;

}

.footerLogin {   
    bottom: 0;
    margin-top: 30px;
}

.btn {
    background-color: #366999;
    font-size: 18px;
    color: #f1ecec;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 130px;
    height: 40px;
    border: solid 0.1px #31303052;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 5px 9px;
    letter-spacing: 1px;
     
} 
.btn:active {
    background-color: #36699996;
    box-shadow: none; 
}

.formContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    color: #eee8e8e3;
}
.subscribe{ 
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 15px;
}
.linkSubscribe{
    font-size: 20px;
    color:#70a1ce;
    text-decoration: none;
}
.linkSubscribe:hover{
    text-decoration:underline;
}