.formSection{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.formRegister{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom:50px ;
    padding-top:50px ;
    padding-right: 50px;
    padding-left: 50px;
    gap: 20px;
    border-radius: 5px; 
    background-color: rgba(255, 255, 255, 0.205);
}
.titleRegister{  
    top: 40px;
    font-size: 50px;
    color: #f0eeee;
    letter-spacing: 2px;
}
.btnRegister{
    background-color: #366999;
    font-size: 18px;
    color: #f1ecec;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 130px;
    height: 40px;
    border: solid 0.1px #31303052;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 5px 9px;
    letter-spacing: 1px;
     
} 

.btnRegister:active {
    box-shadow: none; 
    background-color: #36699996;
}
.inputs{ 
    justify-content: center;
    align-items: center;
}
.icon{ 
    width:32px;
    height: 32px;
    padding-top: 20px;
}
.userName, .userEmail, .userPassword{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.loginRef{
    display: flex;
    align-items: center;
    gap: 10px;
}
.loginRef a {
    font-size: 20px;
    color:#70a1ce;
    text-decoration: none;
}
.loginRef:hover a{
    text-decoration: underline;
}
.controller p{
    font-size: 15px;
}