body{
    background-color: #ddd6d6;
}
.formSection{
    display: flex;
    justify-content: center;
    align-items: center; 

}
.formLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 180px;  
    background-color: #e9e4e4;  
    padding: 40px; 
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    top: 70px;
}
.iconPadlock{ 
    width: 180px;
    height: 180px; 
} 
.title{
    position: absolute;
    top: 40px;
    font-size: 50px;
    color: #000;
    letter-spacing: 2px;

}
.footerLogin{
    position: absolute;
    bottom: 0; 
    right: 0;
    left: 0; 
} 
.btnFinish{
    background-color: #366aaf86;
    color: #000;
    border-radius: 10px;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
    letter-spacing: 1px;
}

.btnFinish:active{
    box-shadow: none;
}
.formContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}